body {
    font-family: Arial;
    margin: 0;
    background-color: rgb(240, 205, 211);
}

header {
    background-color: rgb(174, 174, 244);
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

nav a {
    color:white;
    padding: 10px 10px; 
}

nav a:hover {
    text-decoration: underline;
}

nav a:visited {
    color: rgb(98, 160, 248);
}

section{
    background: white;
    margin: 20px;
    padding: 20px;
}

.cajahover {
    background: rgb(177, 175, 175);
    padding: 20px;
    text-align: center;
}

.cajahover:hover {
    background: rgb(116, 114, 114);
}

.botonactive{
    padding: 10px 20px;
    background: steelblue;
    color: white;
    cursor:pointer;
}

.botonactive:active {
    transform: scale(0.95);
    background: darkblue;
}

input:focus{
    outline: 2px solid steelblue;
}

.etiquetachecked {
    cursor: pointer;
}

.etiquetachecked input:checked {
    outline: 2px solid rgb(244, 102, 102);
}

.span-interactivo {
    background-color: rgb(255, 198, 93);
    padding: 3px 6px;
    cursor: pointer;
    transition: background 0.3;
}

.span-interactivo:hover {
    background: rgb(226, 52, 52);
}

audio {
    margin: 10px;
}

video {
    margin: 50px;
}

footer {
    background: rgb(174, 174, 244);
    color: black;
    text-align: center;
    padding: 15px;
}